.general{
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.g100{
	width: 100%;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.d99{
	width: 99%;
}

.d95{
	width: 95%;
}

.d90{
	width: 90%;
}

.d85{
	width: 85%;
}

.d80{
	width: 80%;
}

.d75{
	width: 75%;
}

.d70{
	width: 70%;
}


.d65{
	width: 65%;
}

.d60{
	width: 60%;
}


.d55{
	width: 55%;
}

.d50{
	width: 50%;
}


.d45{
	width: 45%;
}

.d40{
	width: 40%;
}


.d35{
	width: 35%;
}

.d33{
	width: 33.3333333%;
}

.d30{
	width: 30%;
}


.d25{
	width: 25%;
}

.d20{
	width: 20%;
}


.d15{
	width: 15%;
}

.d10{
	width: 10%;
}


.d5{
	width: 5%;
}

.d3{
	width: 3%;
}

.center{
	float: none;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: block;
}

.absolute{
	position: absolute;

}

.relative{
	position: relative;
	float: left;
}

.fixed{
	position: fixed;
}

.t-center{
	text-align: center;
	justify-content: center;
}

.t-left{
	text-align: left;
	justify-content: left;
}

.t-right{
	text-align: right;
	justify-content: right;
}

.container{
	max-width: 1200;
}

.m-t-1{
	margin-top: 10px;
}

.m-t-2{
	margin-top: 20px;
}

.m-t-3{
	margin-top: 30px;
}

.m-t-4{
	margin-top: 40px;
}
.m-t-5{
	margin-top: 50px;
}

.m-t-100{
	margin-top: 100px;
}


.m-b-1{
	margin-bottom: 10px;
}

.m-b-2{
	margin-bottom: 20px;
}

.m-b-3{
	margin-bottom: 30px;
}

.m-b-4{
	margin-bottom: 40px;
}

.m-b-5{
	margin-bottom: 50px;
}

.p-t-1{
	padding-top: 10%;
}

.p-t-2{
	padding-top: 20%;
}

.p-t-3{
	padding-top: 30%;
}

.p-t-4{
	padding-top: 40%;
}

.p-t-5{
	padding-top: 50%;
}

.p-b-1{
	padding-bottom: 10%;
}

.p-b-2{
	padding-bottom: 20%;
}

.p-b-3{
	padding-bottom: 30%;
}

.p-b-4{
	padding-bottom: 40%;
}

.p-b-5{
	padding-bottom: 50%;
}

.boxsizing{
	box-sizing: border-box;
}

/* Flexbox container */

.flex_container{
	display: flex;
	align-items: flex-start | flex-end | center | baseline | stretch;
}


.left{
	float: left;
}

header{
	background: url(../img/menu.png) top left;
	height: 77px;
	display: block;
	background-color: #2f2f2f;
}

header nav a{
	width: 15%;
	float: left;
	display: block;
	padding: 30px 0;
	color: #00FF00;
	margin-right: 2%;
	font-family: 'BebasNeue';
}


@font-face {
  font-family: 'BebasNeue';
  src: url('../font/BebasNeue.eot?#iefix') format('embedded-opentype'),  url('../font/BebasNeue.otf')  format('opentype'),
	     url('../font/BebasNeue.woff') format('woff'), url('../font/BebasNeue.ttf')  format('truetype'), url('../font/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
 }

 @font-face {

  font-family: 'ITCAvantGardePro-Bold';
  src: url('../font/ITCAvantGardePro-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/ITCAvantGardePro-Bold.otf')  format('opentype'),
	     url('../font/ITCAvantGardePro-Bold.woff') format('woff'), url('../font/ITCAvantGardePro-Bold.ttf')  format('truetype'), url('../font/ITCAvantGardePro-Bold.svg#ITCAvantGardePro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCAvantGardePro-Bk';
  src: url('../font/ITCAvantGardePro-Bk.eot?#iefix') format('embedded-opentype'),  url('../font/ITCAvantGardePro-Bk.otf')  format('opentype'),
	     url('../font/ITCAvantGardePro-Bk.woff') format('woff'), url('../font/ITCAvantGardePro-Bk.ttf')  format('truetype'), url('../font/ITCAvantGardePro-Bk.svg#ITCAvantGardePro-Bk') format('svg');
  font-weight: normal;
  font-style: normal;
}

.whats{
	background: url(../img/wa.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}

.facebook{
	background: url(../img/fb.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}

.youtube{
	background: url(../img/yt.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}

.mail{
	background: url(../img/em.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}


.redessociales div{
	width: 11%;
	float: center;
	padding: 30px 0;
	margin-top: 5%;
	margin-right: 1%;
	display: inline-block;
}

.whatsf{
	background: url(../img/whp_f.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}

.facebookf{
	background: url(../img/fb_f.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}

.youtubef{
	background: url(../img/yt_b.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}

.mailf{
	background: url(../img/em_f.png);
	height: 77px;
	display: block;
	background-repeat: no-repeat;
}



/* Eyecatcher con CSS 
.eyecatcher{
	background: url(../img/sl5.jpg);
	height: 674px;
	width: 100%;
	background-size: 100%;
	position: relative;
	display: block;
	background-repeat: no-repeat;
}
 */

 .resize{
 	width: 100%;
 	height: auto;
 	float:left; 
}

.AvantGarde-Bk{
	font-family: 'ITCAvantGardePro-Bk';
}

.AvantGarde-Bold{
	font-family: 'ITCAvantGardePro-Bold';
}

.Bebas{
	font-family: 'BebasNeue';
}

.m-left{
	margin-left: 3%;
}

.verde{
	color: #00FF7F;
}

.azul{
	color: #1E90FF;
}

.rojo{
	color: #DC143C;
}

.naranja{
	color: #FF8C00;
}

.white{
	color: white;
}

.btnv{
	background-color: #00FF7F;
	color: white;
	display: block;
	margin: auto;
	width: 324px;
	border-radius: 10px;
	padding: 7px 13px;
	cursor: pointer;
	text-align: center;
	font-size: 45px;
	font-family: "BebasNeue";
	margin-top: 31%;
}

.btnv:hover {background-color: #46a049;}

button:hover:not(.active) {
    background-color: #111;
    color: white;
}

.btnb{
	background-color: black;
	color: white;
	display: block;
	margin: auto;
	width: 150px;
	border-radius: 10px;
	padding: 13px 13px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	font-family: "BebasNeue";
	margin-top: 2%;
}

.btnb:hover {background-color: #46a049;}

.fondoworks{
	background: url(../img/back_ser.jpg) no-repeat;
	height: 767px;
	width: 100%;
}


.estra{
	background: url(../img/back_estra.jpg) no-repeat;
	height: 500px;
	width: 100%;
	background-size: 100% 100%;
}

.partners{
	background: url(../img/back_sl.jpg) no-repeat center;
	height: 617px;
	width: 100%;
}

.fin{
	background-color: #000000;
	height: 70px;
	color: white;
	display: block;
}

.contact{
	background-color: #00FF7F;
	color: black;
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}

.m-r{
	margin-right: 3%;
}

.encontrar{
	background-color: #000000;
	height: 250px;
	color: white;;
	display: block
}



.clic{
	position: absolute;
	top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 53px;
    margin-bottom: 12px;
}


/* Clase click manita
.fondo_mano{
	width: 100%;
	float: left;
	z-index: 2;
	position: relative;
}

.contenedor_mano{
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	display: block;
}
*/



/* Centras objeto */
.contenedor_define{
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	display: block;
}

.define{
	float: left;
}

.defineimg{
	width: 100%;
	float: left;
	height: auto;
	margin-top: -22px;
	margin-bottom: -22px;
}

.fondo_define{
	background-color: white;
	width: 100%;
	float: left;
	z-index: 2;
	position: relative;
}

.d20_define{
	width: 20%;
}

.d40_define{
	width: 40%;
}

.margen1{
	margin-top: 1%;
	text-align: left;
	background: url(../img/h_m.png) no-repeat right center;
	height: 154px;
	width: 40%;
}


.margen2{
	margin-top: 1%;
	text-align: left;

}

.bordes{
	box-sizing: border-box;
	width: 400px;
    padding: 23px;    
    border: 10px ;
}

.posicionar{
	margin-top: 8%;
	margin-left: 50%;
}

.btnf{
	background-color: black;
	color: white;
	display: block;
	margin: auto;
	width: 150px;
	border-radius: 10px;
	padding: 13px 13px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	font-family: "BebasNeue";
	margin-top: 2%;
	margin-bottom: 2%;
}

.btnf:hover {background-color: #46a049;}

.m-b-n{
	margin-bottom: -5px;
}

.txts{
	color: white;
	font-size: 4.5em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}


.txts1{
	color: white;
	font-size: 3em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}

.contenedor{
	margin-left: 8%;
	margin-right: 8%;
}

.estrategia{
	width: 1000px;
	font-size: 1.1em;
}

.txt{
	width: 250px;
}

.btno{
	background-color: #00FF7F;
	color: white;
	display: block;
	margin: auto;
	width: 150px;
	border-radius: 10px;
	padding: 13px 13px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	font-family: "BebasNeue";
	margin-top: -25px;
}

.btno:hover {background-color: #46a049;}

.cajalogo{
	width: 850px;
	margin: 0 auto;
	float: none;
	display: block;
	margin-top: 18%;
}

img{
	display: block;
	margin: auto;
}

.vitralia{
	margin-right: 16%;
}

.bots{
	margin-top: 11%;
	margin-left: 19%;
}

.tw{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

h4{
	font-size: 3.6em !important;
}

.division{
  max-width: 1171px;
  display: block;
  margin: 0 auto;
}

.size{
	width: 298px;
}

/*Media Queries*/

/*Celular*/


@media only screen and (min-width: 200px) and (max-width: 600px){
	.txts{
	color: white;
	font-size: 4.5em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}


.txts1{
	color: white;
	font-size: 3em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}

}

@media only screen and (min-width: 601px){
	.txts{
	color: white;
	font-size: 4.5em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}


.txts1{
	color: white;
	font-size: 3em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px){
	.txts{
	color: white;
	font-size: 2.5em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}


.txts1{
	color: white;
	font-size: 2em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}
.btnv{
	background-color: #00FF7F;
	color: white;
	display: block;
	margin: auto;
	width: 199px;
	border-radius: 10px;
	padding: 6px 13px;
	cursor: pointer;
	text-align: center;
	font-size: 41px;
	font-family: "BebasNeue";
	margin-top: 41%;
}

.btnv:hover {background-color: #46a049;}

.bordes{
	box-sizing: border-box;
	width: 285px;
    padding: 23px;    
    border: 10px ;
}

.fondoworks{
	background: url(../img/back_ser.jpg) no-repeat;
	height: 510px;
	width: 100%;
}

.size{
	width: 242px;
}

.cajalogo{
	width: 850px;
	margin: 0 auto;
	float: none;
	display: block;
	margin-top: 27%;
}
}

/*Laptop*/
@media screen and (min-width: 992px) and (max-width: 1200px){
	.txts{
	color: white;
	font-size: 4.5em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}


.txts1{
	color: white;
	font-size: 3em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}
.btnv{
	background-color: #00FF7F;
	color: white;
	display: block;
	margin: auto;
	width: 324px;
	border-radius: 10px;
	padding: 7px 13px;
	cursor: pointer;
	text-align: center;
	font-size: 45px;
	font-family: "BebasNeue";
	margin-top: 31%;
}

.btnv:hover {background-color: #46a049;}

.bordes{
	box-sizing: border-box;
	width: 400px;
    padding: 23px;    
    border: 10px ;
}

.fondoworks{
	background: url(../img/back_ser.jpg) no-repeat;
	height: 767px;
	width: 100%;
}
.size{
	width: 298px;
}

.cajalogo{
	width: 850px;
	margin: 0 auto;
	float: none;
	display: block;
	margin-top: 18%;
}

}

/*Desktop*/

@media screen and (min-width: 1200px){

.txts{
	color: white;
	font-size: 4.5em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}


.txts1{
	color: white;
	font-size: 3em;
	margin-top: 128px;
	margin-left: 71px;
	margin-bottom: -130px;

}

.btnv{
	background-color: #00FF7F;
	color: white;
	display: block;
	margin: auto;
	width: 324px;
	border-radius: 10px;
	padding: 7px 13px;
	cursor: pointer;
	text-align: center;
	font-size: 45px;
	font-family: "BebasNeue";
	margin-top: 31%;
}

.btnv:hover {background-color: #46a049;}

.bordes{
	box-sizing: border-box;
	width: 400px;
    padding: 23px;    
    border: 10px ;
}

.fondoworks{
	background: url(../img/back_ser.jpg) no-repeat;
	height: 767px;
	width: 100%;
}

.size{
	width: 298px;
}

.cajalogo{
	width: 850px;
	margin: 0 auto;
	float: none;
	display: block;
	margin-top: 18%;
}
}